[submodule "vendor/FLSDK"]
	path = vendor/FLSDK
	url = http://github.com/TheStarport/FLHookSDK
[submodule "vendor/reflect-cpp"]
	path = vendor/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git